html {
    height: 100%;
}

body{
    background-color: rgb(58, 55, 55);
    background-image: url(images/background-adare-restaurant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* helps center bg image for big screens */
}

/* classes must start with a . */
.container{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    height: 118px;
    text-align: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.308);
     /* 30.8% transparent */
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;

}

main {
    height: 400px;
    text-align: center;
    padding-top: 80px; /* creates space between heading and end of the box where it's in */
    padding-left: 240px;
    padding-right: 240px;
}

footer {
    background-color: rgba(0, 0, 0, 0.712);
    height: 118px;
}

h1 {
    font-size: 84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

p {
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* text-decoration: none; */
}

nav a {
    text-decoration: none;
    /* removes href underline */
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

footer p {
    text-align: center;
    color: grey;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 12px;
}

.maps {
    padding-bottom: 100px;
}
